<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="RelayNodeConfig" type="MySpace.DataRelay.Configuration.RelayNodeSectionHandler,MySpace.DataRelay.Common"/>
	  <section name="SocketClient" restartOnExternalChanges="false" type="MySpace.Shared.Configuration.XmlSerializerSectionHandler,MySpace.Shared"/>
    
  </configSections>
  
	<SocketClient configSource="SocketClient.config"/>
  <RelayNodeConfig xmlns="http://myspace.com/RelayNodeConfig.xsd">
    <RelayComponents configSource="RelayComponents.config" />
    <TypeSettings configSource="RelayTypeSettings.config" />
    <RelayNodeMapping configSource="RelayNodeMapping.config" />    
  </RelayNodeConfig>
  <appSettings>
    <add key="LoggingConfigFile" value="Logging.SimpleConsoleClient.config"/>
  </appSettings>
</configuration>