<?xml version="1.0" encoding="utf-8" ?>
<RelayNodeMapping xmlns="http://myspace.com/RelayNodeMapping.xsd">
  <ZoneDefinitions>
    <Zone Id="1">
      <Subnets>
        <Subnet>10.128.*.*</Subnet>
      </Subnets>
      <Prefixes>
        <Prefix>mapd</Prefix>
      </Prefixes>
    </Zone>
  </ZoneDefinitions>
  <RelayNodeGroups>
    <RelayNodeGroup Name="Default" Activated="true" DangerZoneSeconds="0">
      <SocketSettings/>
      <RelayNodeClusters>
        <RelayNodeCluster>
          <RelayNodes>
            <RelayNode Activated="true" Host="localhost" Port="1000" GatherStatistics="true" ServiceType="Sockets"/>            
          </RelayNodes>
        </RelayNodeCluster>
      </RelayNodeClusters>
    </RelayNodeGroup>
  </RelayNodeGroups>
</RelayNodeMapping>
