<?xml version="1.0" encoding="utf-8" ?>
<SocketClient type="MySpace.SocketTransport.SocketClientConfig,MySpace.SocketTransport.Client" xmlns="http://myspace.com/SocketClientConfig.xsd">
  <DefaultSocketSettings>
    <SocketPoolType>Linked</SocketPoolType>
    <SocketPoolSize>4</SocketPoolSize>
    <ConnectTimeout>1000</ConnectTimeout>
    <InitialMessageSize>1024</InitialMessageSize>
    <MaximumReplyMessageSize>20480</MaximumReplyMessageSize>
    <ReceiveBufferSize>8192</ReceiveBufferSize>
    <ReceiveTimeout>100</ReceiveTimeout>
    <SendBufferSize>8192</SendBufferSize>
    <SendTimeout>100</SendTimeout>
    <SocketLifetimeMinutes>20</SocketLifetimeMinutes>
    <UseNetworkOrder>false</UseNetworkOrder>
    <BufferReuses>1000</BufferReuses>
  </DefaultSocketSettings>
</SocketClient>