<?xml version="1.0" encoding="utf-8"?>
<TypeSettings MaxTypeId="512" xmlns="http://myspace.com/RelayTypeSettings.xsd">
	<TypeSettingCollection>

		<!-- Test Reserved IDs 1 to 50 -->
		<TypeSetting TypeName="Test.Index">
			<TypeId>1</TypeId>
			<RelatedIndexTypeId>2</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test.Data">
			<TypeId>2</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test1.Index">
			<TypeId>3</TypeId>
			<RelatedIndexTypeId>4</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test1.Data">
			<TypeId>4</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test2.Index">
			<TypeId>5</TypeId>
			<RelatedIndexTypeId>6</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test2.Data">
			<TypeId>6</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test3.Index">
			<TypeId>7</TypeId>
			<RelatedIndexTypeId>8</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test3.Data">
			<TypeId>8</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test4.Index">
			<TypeId>9</TypeId>
			<RelatedIndexTypeId>10</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test4.Data">
			<TypeId>10</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test5.Index">
			<TypeId>11</TypeId>
			<RelatedIndexTypeId>12</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test5.Data">
			<TypeId>12</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test.Data2">
			<TypeId>13</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test6.Index">
			<TypeId>14</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test7.Index">
			<TypeId>15</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test8.Index">
			<TypeId>16</TypeId>
			<RelatedIndexTypeId>17</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="Test8.Data">
			<TypeId>17</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<!-- Mail -->
		<TypeSetting TypeName="MySpace.Mail.Inbox.Index">
			<TypeId>53</TypeId>
			<RelatedIndexTypeId>54</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Mail">
			<TypeId>54</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<!-- Status Mood -->
		<TypeSetting TypeName="MySpace.Friends.Domain.AccountStatusMood.Index">
			<TypeId>164</TypeId>
			<RelatedIndexTypeId>165</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Friends.Domain.AccountStatusMood">
			<TypeId>165</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Friends.Domain.AccountMood">
			<TypeId>166</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>0</RelatedIndexTypeId>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
			<SyncInMessages>false</SyncInMessages>
			<ThrowOnSyncFailure>false</ThrowOnSyncFailure>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Transactions.Transaction">
			<TypeId>167</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>TransactionExecutors</GroupName>
			<RelatedIndexTypeId>0</RelatedIndexTypeId>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
			<SyncInMessages>false</SyncInMessages>
			<ThrowOnSyncFailure>false</ThrowOnSyncFailure>
		</TypeSetting>
		<!-- end status mood -->

		<!-- MyStuff -->
		<TypeSetting TypeName="MySpace.MyStuff.Domain.Core.Stuff">
			<TypeId>220</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>Generic</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.MyStuff.Domain.Core.StuffLite">
			<TypeId>221</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MyRatings.Review.Data">
			<TypeId>225</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MyRatings.ItemReviewRating.Index">
			<TypeId>230</TypeId>
			<RelatedIndexTypeId>225</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MyRatings.ItemReview.Index">
			<TypeId>231</TypeId>
			<RelatedIndexTypeId>225</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MyRatings.UserReviewRating.Index">
			<TypeId>232</TypeId>
			<RelatedIndexTypeId>225</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MyRatings.UserWishlist.Index">
			<TypeId>233</TypeId>
			<RelatedIndexTypeId>221</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MyRatings.HelpfulVotes.Index">
			<TypeId>234</TypeId>
			<RelatedIndexTypeId>20</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MyRatings.HubActivity.Index">
			<TypeId>235</TypeId>
			<RelatedIndexTypeId>221</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<!-- CACHE QUERY -->
		<TypeSetting TypeName="CacheQueryTestClient.DomainObjects.Person">
			<TypeId>242</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="CacheQuery.TypeIndex1">
			<TypeId>243</TypeId>
			<RelatedIndexTypeId>244</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="CacheQuery.TypeData1">
			<TypeId>244</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<!-- Comments for MyRatings -->
		<TypeSetting TypeName="MySpace.Comments.Framework.Ratings.Index">
			<TypeId>245</TypeId>
			<RelatedIndexTypeId>246</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Comments.Framework.Ratings.Data">
			<TypeId>246</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<!-- Comments for Moods -->
		<TypeSetting TypeName="MySpace.Comments.Framework.Moods.Index">
			<TypeId>247</TypeId>
			<RelatedIndexTypeId>248</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Comments.Framework.Moods.Data">
			<TypeId>248</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<!-- MDP Activities -->
		<TypeSetting TypeName="MySpace.Applications.Activities.Index">
			<TypeId>249</TypeId>
			<RelatedIndexTypeId>250</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Applications.Activities.Data">
			<TypeId>250</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<!-- FriendsWithApp -->
		<TypeSetting TypeName="MySpace.MDP.UserApp.Index">
			<TypeId>251</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<!-- Comments for MJVAlbum -->
		<TypeSetting TypeName="MySpace.Comments.Framework.MJVAlbum.Index">
			<TypeId>256</TypeId>
			<RelatedIndexTypeId>257</RelatedIndexTypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Comments.Framework. MJVAlbum.Data">
			<TypeId>257</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<!-- Kudos -->
		<TypeSetting TypeName="MySpace.Kudos.User.Index">
			<TypeId>265</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Kudos.Resource.Index">
			<TypeId>266</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<CheckRaceCondition>false</CheckRaceCondition>
			<TTLSetting>
				<Enabled>false</Enabled>
				<DefaultTTLSeconds>-1</DefaultTTLSeconds>
			</TTLSetting>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.VideosV3.Services.VideoCanonical">
			<TypeId>267</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>Generic</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.Domain.VideoUploadReference">
			<TypeId>268</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>Generic</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.ContributorSubscribers.Index">
			<TypeId>269</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>20</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Friends.CoolNewPeopleList">
			<TypeId>270</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>Generic</GroupName>
		</TypeSetting>

		<!-- Videos Re-Arch Index -->
		<TypeSetting TypeName="MySpace.Videos.ContributorVideos.Index">
			<TypeId>271</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>272</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.Service.Domain.VideoCanonical">
			<TypeId>272</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.Subscription.Index">
			<TypeId>273</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>274</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.Service.Domain.Contributor">
			<TypeId>274</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.VideoComments.Index">
			<TypeId>275</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>276</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.VideoComments.Data">
			<TypeId>276</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.ChannelComments.Index">
			<TypeId>277</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>278</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.ChannelComments.Data">
			<TypeId>278</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.WatchedVideos.Index">
			<TypeId>279</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>272</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.WatchedVideosByUser.Index">
			<TypeId>280</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>272</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Videos.WatchingUsers.Index">
			<TypeId>281</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>20</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Activities.Index">
			<TypeId>282</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>283</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Activities.Data">
			<TypeId>283</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Activities.Groups.Index">
			<TypeId>284</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>285</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Activities.Groups.Data">
			<TypeId>285</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.TwitterSync.Index">
			<TypeId>314</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<!-- Indices for Music 2.0 -->
		<TypeSetting TypeName="MySpace.Music.SongsListenedByUser.Index">
			<TypeId>319</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Music.SongsAddedToPublicPlaylist.Index">
			<TypeId>320</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Music.SongsFromArtist.Index">
			<TypeId>321</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
		</TypeSetting>

		<!-- New User Status -->
		<TypeSetting TypeName="MySpace.Friends.Domain.AccountStatusMoodUpdate.Index">
			<TypeId>326</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3</GroupName>
			<RelatedIndexTypeId>327</RelatedIndexTypeId>
		</TypeSetting>

		<TypeSetting TypeName="MySpace.Friends.Domain.AccountStatusMoodUpdate">
			<TypeId>327</TypeId>
			<Disabled>false</Disabled>
			<Compress>false</Compress>
			<GroupName>CacheIndexV3Data</GroupName>
		</TypeSetting>

	</TypeSettingCollection>
</TypeSettings>