<?xml version="1.0" encoding="utf-8" ?>
<RelayNodeMapping xmlns="http://myspace.com/RelayNodeMapping.xsd">
	<RelayNodeGroups>
		
		<RelayNodeGroup Name="CacheIndexV3" Activated="true" DangerZoneSeconds="30" SyncInMessages="true">
			<SocketSettings/>
			<RelayNodeClusters>
				<RelayNodeCluster>
					<RelayNodes>
						<RelayNode Activated="true" Host="localhost" Port="1000" GatherStatistics="true" ServiceType="Sockets"/>
					</RelayNodes>
				</RelayNodeCluster>
				<RelayNodeCluster>
					<RelayNodes>
						<RelayNode Activated="true" Host="localhost" Port="1002" GatherStatistics="true" ServiceType="Sockets"/>
					</RelayNodes>
				</RelayNodeCluster>
			</RelayNodeClusters>
		</RelayNodeGroup>

		<RelayNodeGroup Name="CacheIndexV3Data" Activated="true" DangerZoneSeconds="30" SyncInMessages="true">
			<SocketSettings/>
			<RelayNodeClusters>
				<RelayNodeCluster>
					<RelayNodes>
						<RelayNode Activated="true" Host="localhost" Port="1001" GatherStatistics="true" ServiceType="Sockets"/>
					</RelayNodes>
				</RelayNodeCluster>
				<RelayNodeCluster>
					<RelayNodes>
						<RelayNode Activated="true" Host="localhost" Port="1003" GatherStatistics="true" ServiceType="Sockets"/>
					</RelayNodes>
				</RelayNodeCluster>
			</RelayNodeClusters>
		</RelayNodeGroup>
		
	</RelayNodeGroups>
</RelayNodeMapping>
